{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>index</title>
        <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
    </head>


    <body>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.js' %}"></script>

        <h1>欢迎来到用户中心</h1>
        <img src="../static/img/user_head.jpg" alt="">
    </body>
</html>